{% extends "base.html" %}
{% block content %}
<div class="card" style="max-width: 600px;">
    <h3>Set Budget</h3>
    <div style="display:flex; gap:10px; margin-top:15px;">
        <input id="budgetInput" type="number" class="input" placeholder="Amount">
        <button onclick="saveBudget()" class="btn">Save</button>
    </div>
    <div style="margin-top: 30px;">
        <div style="display:flex; justify-content:space-between;">
            <span>Spent: <span id="bSpent">0</span></span>
            <span>Budget: <span id="bTarget">0</span></span>
        </div>
        <div style="width:100%; background:#ddd; height:15px; border-radius:10px; margin-top:5px;">
            <div id="bBar" style="width:0%; background:var(--secondary); height:100%; border-radius:10px;"></div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}<script>loadBudgetPage();</script>{% endblock %}